html {
	overflow: scroll;
	overflow-x: hidden;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
::-webkit-scrollbar {
	width: 0; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb {
	background: #ff0000;
} */
